<header>
    <div class="pageTitle">
        <img class="col-2" src="../../assets/accueil/opencylife.png" id="OpenCyLife" />
        <div class="col-1"></div>
        <p class="col-3" id="headerTitle">Et toi, tu veux quel futur ?</p>
        <div class="donate">
            <img src="../../assets/accueil/donation.svg" alt="don à l'association" class="iconsPartners">
            <div class="don col-4">
                <a href="https://www.helloasso.com/associations/open-cylife/adhesions/open-cylife-adhesion" target="blank">Adhésion</a>
                <a href="https://www.helloasso.com/associations/open-cylife/formulaires/1" target="blank">Pour faire
                    un don,
                    c'est par ici</a>
            </div>
        </div>
    </div>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check">
                <span><img src="../../assets/accueil/burger.svg" alt="menu"></span>
            </label>
        </div>
        <div class="nav-links">
            <a routerLink="/mission">Mission</a>
            <a routerLink="/principes">Nos principes</a>
            <a routerLink="/actions">Nos actions</a>
            <a routerLink="/ecosysteme">Notre écosystème</a>
            <a routerLink="/poles">Nos pôles</a>
            <a routerLink="/articles">Articles</a>
            <a routerLink="/formation">Formation</a>
        </div>
    </div>
</header>