<header>
    <div class="pageTitle">
        <img src="../../assets/accueil/Open-CyLife.png" />
        <p id="headerTitle">Et toi, tu veux quel futur ?</p>
        <!-- <img src="../../assets/accueil/euro.svg" alt="don à l'association" class="iconsPartners"> -->
        <div class="don">
            <a class="button" href="https://www.helloasso.com/associations/open-cylife/adhesions/open-cylife-adhesion" target="blank" style="margin-bottom: 20px;;">Adhérer</a>
            <a class="button" href="https://www.helloasso.com/associations/open-cylife/formulaires/1" target="blank">Faire un don</a>
        </div>
    </div>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check">
                <span><img src="../../assets/accueil/burger.svg" alt="menu"></span>
            </label>
        </div>
        <div class="nav-links">
            <a routerLink="/mission">Mission</a>
            <!-- <a routerLink="/poles">Nos pôles</a> -->
            <!-- <a routerLink="/principes">Nos principes</a> -->
            <a routerLink="/actions">Nos actions</a>
            <a routerLink="/ecosysteme">Notre écosystème</a>

            <a routerLink="/articles">Articles</a>
            <a href="http://www.oclformation.org/" target="blank"><i>Formation</i></a>
        </div>
    </div>
</header>