<!-- Rejoignez-nous -->
<div class="poleColor">
    <div class="container">
        <div class="poleTitle">
            <p>Rejoignez-nous</p>
        </div>
        <div class="blockLarge" style="display: flex;justify-content:space-around;">
            <a href="https://www.facebook.com/Open-Cy-Life-333304130587142/" target=_blank><img src="images/facebook.svg" class="iconsPartners" /></a>
            <a href="https://www.meetup.com/fr-FR/Nouvelles-technologies-et-Transition-societale-Open-CyLife/" target=_blank><img src="images/meetup.svg" class="iconsPartners" /></a>
            <a href="https://twitter.com/opencylife" target=_blank><img src="images/twitter.svg" class="iconsPartners" /></a>
        </div>
    </div>
</div>
<!-- Contact -->
<div class="polewhite container">
    <p class="poleTitle">Si vous voulez nous soutenir</p>


    <div class="row" style="justify-content: space-around;">
        <div class="donate">
            <img src="images/donation.svg" alt="donation" class="iconsPartners">
            <div class="don">
                <a href="https://www.helloasso.com/associations/open-cylife/adhesions/open-cylife-adhesion" target="blank">Donation</a>
                <a href="https://www.helloasso.com/associations/open-cylife/formulaires/1" target="blank">Pour faire
                    un don,
                    c'est par ici</a>
            </div>
        </div>
        <div class="donate">
            <img src="images/contact.svg" class="contactIcons" />
            <div class="don">
                <a href="https://www.open-cy.life/" target=_blank>
                Contact
                </a>
            </div>
        </div>

    </div>
</div>