<!-- Rejoignez-nous -->
<div class="poleColor">
    <div class="container">
        <div class="poleTitle">
            <p>Rejoignez-nous</p>
        </div>
        <div class="blockLarge" style="display: flex;justify-content:space-around;">
            <a href="https://www.facebook.com/Open-Cy-Life-333304130587142/" target=_blank><img src="../../assets/accueil/facebook.svg" class="iconsPartners" /></a>
            <a href="https://www.meetup.com/fr-FR/Nouvelles-technologies-et-Transition-societale-Open-CyLife/" target=_blank><img src="../../assets/accueil/meetup.svg" class="iconsPartners" /></a>
            <a href="https://twitter.com/opencylife" target=_blank><img src="../../assets/accueil/twitter.svg" class="iconsPartners" /></a>
        </div>
    </div>
</div>
<!-- Contact -->
<div class="polewhite container">


    <div class="row" style="justify-content: space-around;margin-top: 30px;">

        <div class="donate">
            <div class="eco">
                <img src="../../assets/accueil/foundation.png">
                <p>site éco-conçu</p>
            </div>
            <img src="../../assets/accueil/contact.svg" class="contactIcons" />
            <div class="don">
                <a href="mailto:contact@open-cy.life" target=_blank>
                Contact
                </a>
            </div>
        </div>

    </div>
</div>