<!-- Pole Actions -->
<div class="poleColor">
    <div class="container">
        <div class="poleTitle">
            <p id="actions">Nos actions</p>
        </div>
        <div class="blockLarge">
            <!-- <div class="col8"> -->
            <div class="actionBody">
                <div class="actionItems">
                    <img src="../../../assets/accueil/validate.svg" class="validateIcons" />
                    <div class="itemsBody">
                        <p class="actionTitle">Se Connecter</p>
                        <p class="description">Les communautés technologiques et celles oeuvrant à la transition sociétale pour dynamiser la fertilisation croisée.</p>
                    </div>
                </div>
                <H4>Dans ce but vous pouvez participer et organiser :</H4>
                <ul>
                    <li>
                        <p class="description"> Les soirées Tek&Tik qui mêlent à chaque fois des personnes des communautés tech et écologiques dans un moment de détente.</p>
                    </li>
                    <li>
                        <p class="description"> Les tables rondes qui réunissent des spécialistes pour parler d'un sujet particulier.</p>
                    </li>
                </ul>

                <div class="actionItems">
                    <img src="../../../assets/accueil/validate.svg" class="validateIcons" />
                    <div class="itemsBody">
                        <p class="actionTitle">Mettre à disposition</p>
                        <p class="description">des ressources matérielles, intellectuelles et financières pour accompagner les projets communs naissants.</p>
                    </div>
                </div>
                <H4>Aujourd'hui vous pouvez contribuer à :</H4>
                <ul>
                    <li>
                        <p class="description"> La création d'un CMS éco-conçu qui fut à l'origine de la refonte du site d'OpenCyLife et qui continue d'évoluer. Notre but est de fournir un outil écologique aux utilisateurs non compétents en code. Un outil à destination des associations,
                            des acteurs de l'ESS.
                        </p>
                    </li>
                    <li>
                        <p class="description">La création d'un premier site e-commerce eco-conçu. Il est développé suite à notre hackathon au blendwebmix de 2019.</p>
                    </li>
                    <li>
                        <p class="description">La plateforme TARA pour démultiplier les talents sur le la conduite de projets dans différents territoires. Elle permettrait de mettre en contact des besoins et des expertises, de mutualiser pour la suite et de gérer les projets
                            eux-même. visible sur <a href="http://agir.t-a-r-a.com/" target="blank">agir.t-a-r-a.com</a></p>
                    </li>
                    <li>
                        <p class="description">Le projet Radio pluriel (91,5FM) qui développe une plateforme de partage des savoirs par podcast à but scientifique.
                        </p>
                    </li>
                    <li>
                        <p class="description">Le projet <a href="https://aircarto.fr/" target="blank">AirCarto</a> qui consiste à diffuser un maximum de capteurs de pollution et à créer une cartographie de la pollution ou de tout autre besoin autour des pollutions. Toutes
                            les évolutions sont les bienvenues.
                        </p>
                    </li>
                </ul>


                <div class="actionItems">
                    <img src="../../../assets/accueil/validate.svg" class="validateIcons" />
                    <div class="itemsBody">
                        <p class="actionTitle">Diffuser les savoirs</p>
                        <p class="description">sur les territoires les solutions issues des projets, s’assurer de leur efficacité et ainsi participer concrètement à la transition sociétale et à la résolution de problématiques globales.</p>
                    </div>
                </div>
                <H4>Aujourd'hui vous pouvez contribuer à :</H4>
                <ul>
                    <li>
                        <p class="description"> L'organisation du <a href="https://techforgoodtour.com/" target="blank">"Tech fo Good Tour"</a> en organisant avec nous des événements OFF du tour qui fait prendre conscience des #techforgodd aux étudiant et aux entreprises.
                        </p>
                    </li>
                    <li>
                        <p class="description">Venant assister à <a href="https://nuitcodecitoyen.org/" target="blank">la nuit du code citoyen</a> avec nous du 15 au 17 avril 2020</p>
                    </li>
                    <li>
                        <p class="description">Organiser et donner des conférences sur les impacts du numérique en trouvant des acteurs en demande de ce type d'interventions.
                        </p>
                    </li>
                    <li>
                        <p class="description">Rejoindre notre collectif autour de la communication pour aider à communiquer les idées et échanger des savoirs faires
                        </p>
                    </li>
                    <li>
                        <p class="description">Faire bouger le projet de mutualisation des savoirs des meilleurs pratiques sur des questions très techniques de gestions de très grosses masses de données. Il s'agit de créer un référentiel des pratiques pour faire des choix plus
                            responsables.
                        </p>
                    </li>
                </ul>
            </div>
            <!-- </div>
            <div class="col4">
                <img src="../../assets/accueil/action.svg" class="poleIcons" />
            </div> -->
        </div>
    </div>
</div>