<!-- Pole Actions -->
<div class="poleColor">
    <div class="container">
        <div class="poleTitle">
            <p id="actions">Nos actions</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <div class="actionBody">
                    <div class="actionItems">
                        <img src="../../../assets/accueil/validate.svg" class="validateIcons" />
                        <div class="itemsBody">
                            <p class="actionTitle">Connecter</p>
                            <p class="description">Les communautés technologiques et celles oeuvrant à la transition sociétale pour dynamiser la fertilisation croisée.</p>
                        </div>
                    </div>
                    <div class="actionItems">
                        <img src="../../../assets/accueil/validate.svg" class="validateIcons" />
                        <div class="itemsBody">
                            <p class="actionTitle">Mettre à disposition</p>
                            <p class="description">des ressources matérielles, intellectuelles et financières pour accompagner les projets communs naissants.</p>
                        </div>
                    </div>
                    <div class="actionItems">
                        <img src="../../../assets/accueil/validate.svg" class="validateIcons" />
                        <div class="itemsBody">
                            <p class="actionTitle">Diffuser</p>
                            <p class="description">sur les territoires les solutions issues des projets, s’assurer de leur efficacité et ainsi participer concrètement à la transition sociétale et à la résolution de problématiques globales.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/action.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>