<!-- Nos poles -->
<div class="poleWhite">
    <div class="container">
        <div class="poleTitle">
            <p id="poles">Nos pôles</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <p class="description">Chaque initiative compte. Open CyLife est un facilitateur, qui sensibilise et accompagne tous ceux qui ont un projet mêlant digital et transition sociétale. L’association est jeune et se modèle suivant les membres qui la rejoignent.</p>
                <p class="description">Si vous voulez aller plus loin que votre présence aux événements et vous impliquer dans la structure, vous pouvez nous contacter via la partie "Contact" du site ou via nos comptes sur les réseaux sociaux.
                    <p class="description">Vous pouvez venir avec vos propres idées. Sinon nous avons déjà identifié les possibilités suivantes : </p>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/poles.svg" class="poleIcons" />
            </div>
            <div class="poleThemes">
                <div class="poleDescription">
                    <img src="../../assets/accueil/user.webp" class="descriptionIcons" />
                    <p class="titleDescription">Pôle sensibilisation</p>
                    <ul class="listPole">
                        <li>Organisation d'un centre de ressource sur<br> les thématiques du digital et de ses
                            <br> impacts sociaux et environnementaux sur<br> notre site</li>
                        <li>Sensibilisation mission OCL auprès des <br> entreprises du numérique (salarié<br> et dirigeants) et des structures ESS.</li>
                        <li>Préparation de la thématique 2020 vis à vis<br> des Objectifs du développement durable
                            <br>de UNESCO
                            <a href="https://www.agenda-2030.fr/?fbclid=IwAR1buMTd5jP_sYEtfuJi78nFP3azcx7CmvRZYi71B6wcB9R1KFqS7Ck4Qu4" target=_blank>(https://www.agenda-2030.fr/)</a></li>
                        <li>Designer de la Nuit du code citoyen pour<br> 2020</li>
                    </ul>
                </div>
                <div class="poleDescription">
                    <img src="../../assets/accueil/play-button.webp" class="descriptionIcons" />
                    <p class="titleDescription">Pôle R&D</p>
                    <ul class="listPole">
                        <li>Etat de l'art sur les alternatives aux terres <br> rares.</li>
                        <li>Comportement individuel face au besoin de <br> confort et à l'aversion au risque limitant la <br> transition sociétale</li>
                        <li>Branche eco-conception : Site internet <br> Ecoweb / Hackaton Eco-conception / <br> Service Cloud / Hebergement.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>