<!-- Ecosysteme -->
<div class="poleWhite">
    <div class="container">
        <div class="poleTitle">
            <p id="ecosystem">Notre écosystème</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <p class="description">Nous évaluons pour chacune de nos actions, d'une part son cycle de vie complète (conception, fabrication, utilisation, transformation) et d'autre part son impact sur l'écosystème concerné.</p>
                <p class="description">Nous privilégions le temps long: Concertation large, formulation précise de la problématique et application d'une solution par itération (Boucle expérimentation-rectification).</p>
                <p class="description">Nous valorisons chaque ressource : Limiter la production en réadaptant l'éxistant, traiter les "déchets" comme du potentiel et générer de multiples bénéfices à partir d'un seul processus.</p>
                <p class="description"> Nous nous connectons aux "périphériques" et contextes à rique, puisqu'ils sont source d'innovation. Nous défendons la diversité et la modularité des réponses apportées</p>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/ecosystem.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>
<!-- Partenaires -->
<div class="poleColor">
    <div class="poleTitle">
        <p>Nos partenaires</p>
    </div>
    <div class="container">
        <div class="blockLarge">
            <div class="col8" style="display: flex; flex-wrap: wrap;align-items: center;justify-content: space-around;">
                <a href="https://www.anciela.info/" target=_blank><img src="../../assets/accueil/anciella.png" class="iconsPartners" /></a>
                <a href="http://www.lyondata.science/" target=_blank><img src="../../assets/accueil/lyondatascience.png" class="iconsPartners" /></a>
                <a href="https://www.label-adn.com/" target=_blank><img src="../../assets/accueil/adn.png" class="iconsPartners" /></a>
                <a href="https://www.le-101.fr/" target=_blank><img src="../../assets/accueil/101.png" class="iconsPartners" /></a>
                <a href="http://atelier-soude.fr/" target=_blank><img src="../../assets/accueil/ateliersoude.png" class="iconsPartners" /></a>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/partners.svg" class="poleIcons" />
            </div>

        </div>
    </div>
</div>