<!-- Partenaires -->
<div class="poleColor">
    <div class="poleTitle">
        <p>Nos partenaires associatifs</p>
    </div>
    <div class="container">
        <div class="partenaires">
            <a href="https://www.anciela.info/" target=_blank><img src="../../assets/accueil/anciella.png" class="iconsPartners" /></a>
            <a href="http://www.lyondata.science/" target=_blank><img src="../../assets/accueil/lyondatascience.png" class="iconsPartners" /></a>
            <a href="https://www.label-adn.com/" target=_blank><img src="../../assets/accueil/adn.png" class="iconsPartners" /></a>
            <a href="http://atelier-soude.fr/" target=_blank><img src="../../assets/accueil/ateliersoude.png" class="iconsPartners" /></a>
            <a href="https://lesbricodeurs.fr/" target=_blank><img src="../../assets/accueil/bricodeurs.png" class="iconsPartners" /></a>
        </div>
        <!-- <div class="col4">
                <img src="../../assets/accueil/partners.svg" class="poleIcons" />
            </div> -->


    </div>
    <div class="poleTitle">
        <p>Nos partenaires institutionnels</p>
    </div>
    <div class="container">
        <div class="partenaires">
            <a href="https://collectif.greenit.fr/" target=_blank><img src="../../../assets/accueil/greenit.png" class="iconsPartners" /></a>
            <a href="http://www.tuba-lyon.com/" target=_blank><img src="../../../assets/accueil/tuba.png" class="iconsPartners" /></a>
            <a href="https://www.lacuisineduweb.com/" target=_blank><img src="../../../assets/accueil/cuisine.png" class="iconsPartners" /></a>
        </div>

        <div class="poleTitle">
            <p>Nos partenaires éducatifs</p>
        </div>
        <div class="container">
            <div class="partenaires">
                <a href="https://www.le-101.fr/" target=_blank><img src="../../assets/accueil/101.png" class="iconsPartners" /></a>
                <a href="https://ecole-du-digital.com/" target=_blank><img src="../../../assets/accueil/logo-lecole-new2.png" class="iconsPartners" /></a>
                <a href="https://www.epitech.eu/fr/ecole-informatique-lyon/" target=_blank><img src="../../../assets/accueil/epitech.png" class="iconsPartners" /></a>


            </div>
            <!-- <div class="col4">
                    <img src="../../assets/accueil/partners.svg" class="poleIcons" />
                </div> -->


        </div>

    </div>
</div>