<!-- Partenaires -->
<div class="poleColor">
    <h2 class="partenairesTitle">Nos partenaires associatifs</h2>
    <div class="container">
        <div class="partenaires">
            <a class="col-2" href="https://www.anciela.info/" target=_blank><img src="../../assets/accueil/anciella.png" class="iconsPartners" /></a>
            <a class="col-2" href="http://www.lyondata.science/" target=_blank><img src="../../assets/accueil/lyondatascience.png" class="iconsPartners" /></a>
            <a class="col-2" href="https://www.label-adn.com/" target=_blank><img src="../../assets/accueil/adn.png" class="iconsPartners" /></a>
            <a class="col-2" href="http://atelier-soude.fr/" target=_blank><img src="../../assets/accueil/ateliersoude.png" class="iconsPartners" /></a>
            <a class="col-2" href="https://lesbricodeurs.fr/" target=_blank><img src="../../assets/accueil/bricodeurs.png" class="iconsPartners" /></a>
            <a class="col-2" href="https://www.latitudes.cc/" target=_blank><img src="../../../assets/accueil/latitudes.webp" class="iconsPartners" /></a>
            <a class="col-2" href="https://makesense.org/" target=_blank><img src="../../../assets/accueil/makesense.png" class="iconsPartners" /></a>
        </div>
        <!-- <div class="col4">
                <img src="../../assets/accueil/partners.svg" class="poleIcons" />
            </div> -->


    </div>
    <h2 class="partenairesTitle">Nos partenaires institutionnels</h2>
    <div class="container">
        <div class="partenaires">
            <a class="col-2" href="https://collectif.greenit.fr/" target=_blank><img src="../../../assets/accueil/greenit.png" class="iconsPartners" /></a>
            <a class="col-2" href="http://www.tuba-lyon.com/" target=_blank><img src="../../../assets/accueil/tuba.png" class="iconsPartners" /></a>
            <a class="col-2" href="https://www.lacuisineduweb.com/" target=_blank><img src="../../../assets/accueil/cuisine.png" class="iconsPartners" /></a>
        </div>

        <h2 class="partenairesTitle">Nos partenaires éducatifs</h2>
        <div class="container">
            <div class="partenaires">
                <a class="col-2" href="https://www.le-101.fr/" target=_blank><img src="../../assets/accueil/101.png" class="iconsPartners" /></a>
                <a class="col-2" href="https://ecole-du-digital.com/" target=_blank><img src="../../../assets/accueil/logo-lecole-new2.png" class="iconsPartners" /></a>
                <a class="col-2" href="https://www.epitech.eu/fr/ecole-informatique-lyon/" target=_blank><img src="../../../assets/accueil/epitech.png" class="iconsPartners" /></a>


            </div>
            <!-- <div class="col4">
                    <img src="../../assets/accueil/partners.svg" class="poleIcons" />
                </div> -->


        </div>

    </div>
</div>