<div id="mission" class="poleTitle">
    <p>Nos bonnes pratiques</p>
</div>
<p class="container" style="padding-bottom: 50px;text-align: center;">Chez OpenCyLife, on ne vous parle que de sujets que nous avons essayé avant.</p>
<!-- cartes de bonne pratiques -->
<div class="container row ngFor">
    <div *ngFor="let Pratique of bonnesPratiques; let i = index">
        <div class="content">
            <label for="modal' + {{i}} + '">
            <div class="card text-white bg-info shadow" style="width: 15rem;">
                <div class="imagesInCard">
                    <img class="card-img" src="{{Pratique.url}}" alt="{{Pratique.titre}}">
                </div>
                <div>
                    <h4 class="card-title">{{Pratique.titre}}</h4>
                    <p class="card-p">{{Pratique.description}}</p><br>
                </div>
            </div>
        </label>
        </div>

        <input class="modal-state" id="modal' + {{i}} + '" type="checkbox" />
        <div class="modal">
            <label class="modal__bg" for="modal' + {{i}} + '"></label>
            <div class="modal__inner shadow">
                <div class="row">
                    <img src="{{Pratique.url}}" alt="' + {{Pratique.titre}} + '" />
                    <h2>{{Pratique.titre}}</h2>
                </div>
                <p>{{Pratique.modalText}}</p>
                <p>{{Pratique.modalText2}}</p>
                <p>{{Pratique.modalText3}}</p>
                <p>{{Pratique.modalText4}}</p>
                <p>{{Pratique.modalText5}}</p>
                <p>{{Pratique.modalText6}}</p>
                <p>{{Pratique.modalText7}}</p>
                <p>{{Pratique.modalText8}}</p>
                <p>{{Pratique.modalText9}}</p>
                <br>
                <div class="row">
                    <img *ngIf="Pratique.url1" src="{{Pratique.url1}}" title="{{Pratique.urlText1}}">
                    <img *ngIf="Pratique.url2" src="{{Pratique.url2}}" title="{{Pratique.urlText2}}">
                </div>
                <br>
                <p><a href="{{Pratique.link}}" target="blank">{{Pratique.linkText}}</a></p>
            </div>
        </div>
    </div>
</div>