<!-- liste d'articles -->
<div class="poleWhite">
    <div class="container">
        <div id="mission" class="poleTitle">
            <p>Pôle recherche</p>
        </div>

        <div class="row" style="justify-content: space-around; flex-wrap: wrap;">
            <div class="card text-white bg-info shadow" style="width: 15rem;">
                <div class="imagesInCard">
                    <a routerLink="/articles/terres-rares"><img class="card-img" src="../../assets/articles/composants.png" alt="Terres rares"></a>
                </div>
                <div>
                    <h4 class="card-title">Les terres rares en Question</h4>
                    <p class="card-p">Voici un article que nous espéréront le plus complet possible sur la question des terres rares.</p>
                </div>
            </div>
            <div class="card text-white bg-info shadow" style="width: 15rem;">
                <div class="imagesInCard">
                    <a routerLink="/articles/tutoRaspi"><img class="card-img" src="../../assets/articles/Raspi-PGB001.webp" alt="Tuto Raspberry"></a>
                </div>
                <div>
                    <h4 class="card-title">Tutoriel auto hébergement</h4>
                    <p class="card-p">Nous avons condensé pour vous des tutoriel pour créer un hébergement et un cloud sur un raspberry .</p>
                </div>
            </div>
            <div class="card text-white bg-info shadow" style="width: 15rem;">
                <div class="imagesInCard">
                    <a routerLink="/articles/Bonnes_pratiques"><img class="card-img" src="../../assets/articles/off.jpg" alt="Bonnes pratiques"></a>
                </div>
                <div>
                    <h4 class="card-title">Nos bonnes pratiques</h4>
                    <p class="card-p">Nous essayons ici de donner les clés de quelques bonnes pratiques numériques</p>
                </div>
            </div>
            <div class="card text-white bg-info shadow" style="width: 15rem;">
                <div class="imagesInCard">
                    <a routerLink="/articles/rebond"><img class="card-img" src="../../assets/articles/rebond.webp" alt="effet rebond"></a>
                </div>
                <div>
                    <h4 class="card-title">L'effet rebond</h4>
                    <p class="card-p">Voici une piqure de rappel concernant le terrible effet rebond</p>
                </div>
            </div>
        </div>
    </div>
</div>