<div class="container">
    <h1 class="poleTitle" style="margin-bottom: 50px;">La formation chez OpenCyLife</h1>


    <div class="blockLarge">
        <div class="col8">
            <p class="description">Open Cylife est aussi un centre de formation et de prise de conscience. Nous proposons différentes options pour les entreprises, les écoles et les associations.</p>
        </div>
        <div class="col4">
            <img src="../../assets/formation/classroom.png" class="poleIcons" />
        </div>
    </div>
</div>