<!-- Pole Mission -->
<div class="poleColor">
    <div class="container">
        <p id="mission" class="poleTitle">Mission</p>
        <div class="blockLarge">
            <div class="col8">
                <p class="description"><b><strong>Open Cylife</strong></b> est un collectif dont l’objet est de consacrer la puissance des technologies innovantes à l'émergence d’une société plus équitable et responsable.</p>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/target.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>