<!-- Pole Mission -->
<div class="poleColor">
    <div class="container">
        <p id="mission" class="poleTitle">Mission</p>
        <div class="blockLarge">
            <div class="col8">
                <p class="description"><b><strong>Open Cylife</strong></b> est un collectif dont l’objet est de consacrer la puissance des technologies innovantes à l'émergence d’une société plus équitable et responsable.</p>
                <p class="description">Aujourd’hui le numérique a un impact relativement invisible. Il est devenu incontournable dans tous les instants de notre vie, cependant nous ne connaissons que très peu son fonctionnement.</p>
                <p class="description">Pour cela nous proposons</p>
                <ul>
                    <li>
                        <p class="description">Des moments de rencontre entre les communautés de l'écologie et celles de la technologie</p>
                    </li>
                    <li>
                        <p class="description">De la recherche sur des solutions techniques environementalement soutenables pour améliorer nos impacts</p>
                    </li>
                </ul>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/target.svg" class="poleIcons" />
            </div>
        </div>

        <div class="poleTitle">
            <p id="principes">Nos principes</p>
        </div>
        <div class=" blockLarge">
            <div class="col8">
                <p class="description" style="text-align: justify;">Nous évaluons pour chacune de nos action, d’une part son cycle de vie complet ( conception, fabrication, utilisation, transformation) et d’autre part son impact sur l’écosystème concerné. Nous privilégions le temps long : Concertation
                    large, formulation précise de la problématique et application d’une solution par itération ( Boucle experimentation-rectification).</p>
                <p class="description" style="text-align: justify;">Nous valorisons chaque ressource : Limiter la production en réadaptant l’existant, traiter les “déchets” comme du potentiel et générer de multiples bénéfices à partir d’un seul processus.</p>
                <p class="description" style="text-align: justify;">Nous nous connectons aux “périphéries" et contextes à risque, puisqu’ils sont source d’innovation. Nous défendons la diversité et la modularité des réponses apportées</p>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/principe.svg" class="poleIcons" />
            </div>
        </div>
        <!-- poles -->
        <div class="poleTitle">
            <p id="poles">Nos pôles</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <p class="description">Chaque initiative compte. Open CyLife est un facilitateur, qui sensibilise et accompagne tous ceux qui ont un projet mêlant digital et transition sociétale. L’association est jeune et se modèle suivant les membres qui la rejoignent.</p>
                <p class="description">Si vous voulez aller plus loin que votre présence aux événements et vous impliquer dans la structure, vous pouvez nous contacter via la partie "Contact" du site ou via nos comptes sur les réseaux sociaux.
                    <p class="description">Vous pouvez venir avec vos propres idées. Sinon nous avons déjà identifié les possibilités suivantes : </p>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/poles.svg" class="poleIcons" />
            </div>
            <div class="poleThemes">
                <div class="poleDescription">
                    <img src="../../assets/accueil/user.webp" class="descriptionIcons" />
                    <p class="titleDescription">Pôle sensibilisation</p>
                    <ul class="listPole">
                        <li>Organisation d'un centre de ressource sur les thématiques du digital et de ses impacts sociaux et environnementaux sur notre site</li>
                        <li>Sensibilisation mission OCL auprès des entreprises du numérique (salarié et dirigeants) et des structures ESS.</li>
                        <li>Préparation de la thématique 2020 vis à vis des Objectifs du développement durable de l'UNESCO
                            <a href="https://www.agenda-2030.fr/?fbclid=IwAR1buMTd5jP_sYEtfuJi78nFP3azcx7CmvRZYi71B6wcB9R1KFqS7Ck4Qu4" target=_blank>(https://www.agenda-2030.fr/)</a></li>
                        <li>Accompagner des événements comme le "Tech for Good Tour" ou la "nuit du code citoyen"</li>
                    </ul>
                </div>
                <div class="poleDescription">
                    <img src="../../assets/accueil/play-button.webp" class="descriptionIcons" />
                    <p class="titleDescription">Pôle R&D</p>
                    <ul class="listPole">
                        <li>Articles sur des propositions technologiques ou sur l'environnement</li>
                        <li>Encadrement de projets à but environementaux ou sociaux s'appuyant sur des technologies sobres.</li>
                        <li>Branche eco-conception : Site internet Ecoweb / Hackaton E-commerce / Service Cloud / Hebergement.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>