<!-- Pole Principes -->
<div class="poleWhite">
    <div class="container">
        <div class="poleTitle">
            <p id="principes">Nos principes</p>
        </div>
        <div class=" blockLarge">
            <div class="col8">
                <p class="description" style="text-align: justify;">Nous évaluons pour chacune de nos action, d’une part son cycle de vie complet ( conception, fabrication, utilisation, transformation) et d’autre part son impact sur l’écosystème concerné. Nous privilégions le temps long : Concertation
                    large, formulation précise de la problématique et application d’une solution par itération ( Boucle experimentation-rectification).</p>
                <p class="description" style="text-align: justify;">Nous valorisons chaque ressource : Limiter la production en réadaptant l’existant, traiter les “déchets” comme du potentiel et générer de multiples bénéfices à partir d’un seul processus.</p>
                <p class="description" style="text-align: justify;">Nous nous connectons aux “périphéries" et contextes à risque, puisqu’ils sont source d’innovation. Nous défendons la diversité et la modularité des réponses apportées</p>
            </div>
            <div class="col4">
                <img src="../../assets/accueil/principe.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>