<!-- Pole Mission -->
<div class="poleColor">
    <div class="container">
        <div id="mission" class="poleTitle">
            <p>Mission</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <p class="description"><b><strong>Open Cylife</strong></b> est un collectif dont l’objet est de consacrer la puissance des technologies innovantes à l'émergence d’une société plus équitable et responsable.</p>
            </div>
            <div class="col4">
                <img src="images/target.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>
<!-- Pole Principes -->
<div class="poleWhite">
    <div class="container">
        <div class="poleTitle">
            <p id="principes">Nos principes</p>
        </div>
        <div class=" blockLarge">
            <div class="col8">
                <p class="description" style="text-align: justify;">Nous évaluons pour chacune de nos action, d’une part son cycle de vie complet ( conception, fabrication, utilisation, transformation) et d’autre part son impact sur l’écosystème concerné. Nous privilégions le temps long : Concertation
                    large, formulation précise de la problématique et application d’une solution par itération ( Boucle experimentation-rectification).</p>
                <p class="description" style="text-align: justify;">Nous valorisons chaque ressource : Limiter la production en réadaptant l’existant, traiter les “déchets” comme du potentiel et générer de multiples bénéfices à partir d’un seul processus.</p>
                <p class="description" style="text-align: justify;">Nous nous connectons aux “périphéries" et contextes à risque, puisqu’ils sont source d’innovation. Nous défendons la diversité et la modularité des réponses apportées</p>
            </div>
            <div class="col4">
                <img src="images/principe.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>
<!-- Pole Actions -->
<div class="poleColor">
    <div class="container">
        <div class="poleTitle">
            <p id="actions">Nos actions</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <div class="actionBody">
                    <div class="actionItems">
                        <img src="images/validate.svg" class="validateIcons" />
                        <div class="itemsBody">
                            <p class="actionTitle">Connecter</p>
                            <p class="description">Les communautés technologiques et celles oeuvrant à la transition sociétale pour dynamiser la fertilisation croisée.</p>
                        </div>
                    </div>
                    <div class="actionItems">
                        <img src="images/validate.svg" class="validateIcons" />
                        <div class="itemsBody">
                            <p class="actionTitle">Mettre à disposition</p>
                            <p class="description">des ressources matérielles, intellectuelles et financières pour accompagner les projets communs naissants.</p>
                        </div>
                    </div>
                    <div class="actionItems">
                        <img src="images/validate.svg" class="validateIcons" />
                        <div class="itemsBody">
                            <p class="actionTitle">Diffuser</p>
                            <p class="description">sur les territoires les solutions issues des projets, s’assurer de leur efficacité et ainsi participer concrètement à la transition sociétale et à la résolution de problématiques globales.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col4">
                <img src="images/action.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>
<!-- Ecosysteme -->
<div class="poleWhite">
    <div class="container">
        <div class="poleTitle">
            <p id="ecosystem">Notre écosystème</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <p class="description">Nous évaluons pour chacune de nos actions, d'une part son cycle de vie complète (conception, fabrication, utilisation, transformation) et d'autre part son impact sur l'écosystème concerné.</p>
                <p class="description">Nous privilégions le temps long: Concertation large, formulation précise de la problématique et application d'une solution par itération (Boucle expérimentation-rectification).</p>
                <p class="description">Nous valorisons chaque ressource : Limiter la production en réadaptant l'éxistant, traiter les "déchets" comme du potentiel et générer de multiples bénéfices à partir d'un seul processus.</p>
                <p class="description"> Nous nous connectons aux "périphériques" et contextes à rique, puisqu'ils sont source d'innovation. Nous défendons la diversité et la modularité des réponses apportées</p>
            </div>
            <div class="col4">
                <img src="images/ecosystem.svg" class="poleIcons" />
            </div>
        </div>
    </div>
</div>
<!-- Partenaires -->
<div class="poleColor">
    <div class="poleTitle">
        <p>Nos partenaires</p>
    </div>
    <div class="container">
        <div class="blockLarge">
            <div class="col8" style="display: flex; flex-wrap: wrap;align-items: center;justify-content: space-around;">
                <a href="https://www.anciela.info/" target=_blank><img src="images/anciella.png" class="iconsPartners" /></a>
                <a href="http://www.lyondata.science/" target=_blank><img src="images/lyondatascience.png" class="iconsPartners" /></a>
                <a href="https://www.label-adn.com/" target=_blank><img src="images/adn.png" class="iconsPartners" /></a>
                <a href="https://www.le-101.fr/" target=_blank><img src="images/101.png" class="iconsPartners" /></a>
                <a href="http://atelier-soude.fr/" target=_blank><img src="images/ateliersoude.png" class="iconsPartners" /></a>
            </div>
            <div class="col4">
                <img src="images/partners.svg" class="poleIcons" />
            </div>

        </div>
    </div>
</div>


<!-- Nos poles -->
<div class="poleWhite">
    <div class="container">
        <div class="poleTitle">
            <p id="poles">Nos pôles</p>
        </div>
        <div class="blockLarge">
            <div class="col8">
                <p class="description">Chaque initiative compte. Open CyLife est un facilitateur, qui sensibilise et accompagne tous ceux qui ont un projet mêlant digital et transition sociétale. L’association est jeune et se modèle suivant les membres qui la rejoignent.</p>
                <p class="description">Si vous voulez aller plus loin que votre présence aux événements et vous impliquer dans la structure, vous pouvez nous contacter via la partie "Contact" du site ou via nos comptes sur les réseaux sociaux.
                    <p class="description">Vous pouvez venir avec vos propres idées. Sinon nous avons déjà identifié les possibilités suivantes : </p>
            </div>
            <div class="col4">
                <img src="images/poles.svg" class="poleIcons" />
            </div>
            <div class="poleThemes">
                <div class="poleDescription">
                    <img src="images/user.webp" class="descriptionIcons" />
                    <p class="titleDescription">Pôle sensibilisation</p>
                    <ul class="listPole">
                        <li>Organisation d'un centre de ressource sur<br> les thématiques du digital et de ses
                            <br> impacts sociaux et environnementaux sur<br> notre site</li>
                        <li>Sensibilisation mission OCL auprès des <br> entreprises du numérique (salarié<br> et dirigeants) et des structures ESS.</li>
                        <li>Préparation de la thématique 2020 vis à vis<br> des Objectifs du développement durable
                            <br>de UNESCO
                            <a href="https://www.agenda-2030.fr/?fbclid=IwAR1buMTd5jP_sYEtfuJi78nFP3azcx7CmvRZYi71B6wcB9R1KFqS7Ck4Qu4" target=_blank>(https://www.agenda-2030.fr/)</a></li>
                        <li>Designer de la Nuit du code citoyen pour<br> 2020</li>
                    </ul>
                </div>
                <div class="poleDescription">
                    <img src="images/play-button.webp" class="descriptionIcons" />
                    <p class="titleDescription">Pôle R&D</p>
                    <ul class="listPole">
                        <li>Etat de l'art sur les alternatives aux terres <br> rares.</li>
                        <li>Comportement individuel face au besoin de <br> confort et à l'aversion au risque limitant la <br> transition sociétale</li>
                        <li>Branche eco-conception : Site internet <br> Ecoweb / Hackaton Eco-conception / <br> Service Cloud / Hebergement.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>